{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1 class="pb-2 mt-4 mb-2 border-bottom">VHS Conversion Project</h1>
        <a href="{{ path('newJob') }}" class="btn btn-primary btn-block mb-4">New Conversion Job</a>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>VHS Id</th>
                    <th class="d-none d-sm-table-cell">Transcode File Name</th>
                    <th class="d-none d-lg-table-cell">Started</th>
                    <th class="d-none d-sm-table-cell">Completed</th>
                    <th class="d-table-cell d-sm-none">Image</th>
                    <th class="d-table-cell d-sm-none">Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for video in videos %}
                    <tr>
                        <td><a class="btn btn-outline-secondary" href="{{ path('viewJob', {'conversion': video.id}) }}"> {{ video.id }} </a></td>
                        <td class="d-none d-sm-table-cell">{{ video.initialFileName }}</td>

                        <td class="d-none d-lg-table-cell">
                            {% if video.started %}
                                {{ video.started|date('Y-m-d H:i:s') }}
                            {% else %}
                                <span class="badge badge-danger">Not Started</span>
                            {% endif %}
                        </td>
                        <td class="d-none d-sm-table-cell">
                            {% if video.isComplete %}
                                {{ video.completed|date('Y-m-d H:i:s') }}
                            {% elseif video.isInProgress %}
                                <span class="badge badge-warning">In Progress</span>
                            {% elseif video.isNotStarted %}
                                <span class="badge badge-danger">Not Started</span>
                            {% endif %}
                        </td>
                        <td class="d-table-cell d-sm-none">
                            {% if video.image is not null %}
                                <img src="/uploadedImages/{{ video.image }}" class="img-thumbnail img-fluid">
                            {% endif %}
                        </td>
                        <td class="d-table-cell d-sm-none">
                            {% if video.isComplete %}
                                <span class="badge badge-success">Complete</span>
                            {% elseif video.isInProgress %}
                                <span class="badge badge-warning">In Progress</span>
                            {% elseif video.isNotStarted %}
                                <span class="badge badge-danger">Not Started</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if video.isComplete %}
                                <a href="{{ path('editJob', {'conversion': video.id}) }}" class="btn btn-primary"> Edit </a>
                            {% elseif video.isInProgress %}
                                <a href="#" onclick="return false;" class="btn btn-danger disabled"> Stop </a>
                            {% elseif video.isNotStarted %}
                                <a href="{{ path('startJob', {'conversion': video.id}) }}" class="btn btn-success"> Start</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('newJob') }}" class="btn btn-primary btn-block">New Conversion Job</a>
    </div>
{% endblock %}
