{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% if conversion.id is not null %}
            <h1 class="pb-2 mt-4 mb-2 border-bottom">Editing VHS Conversion ID {{ conversion.id }} <small class="text-muted">{{ conversion.initialFileName }}</small></h1>
        {% else %}
            <h1 class="pb-2 mt-4 mb-2 border-bottom">Create a new job</h1>
        {% endif %}
        <a href="{{ path('default') }}" class="btn btn-outline-primary">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Back to listing
        </a>
        {{ form(form) }}
    </div>
    <script>
        $(function(){
            $('#conversion_image').next('.custom-file-label').html('{{ form.vars.data.image }}');
            $('#conversion_image').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName.replace(/[cC]\:\\fakepath\\/, ''));
            });
        });
    </script>
{% endblock %}
