{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>VHS Tape Information</h1>

        <div class="d-flex d-sm-none row pt-2 pb-2">
            <div class="col-6">
                {% include 'parts/previous.html.twig' %}
            </div>
            <div class="col-6">
                {% include 'parts/next.html.twig' %}
            </div>
        </div>
        <div class="row pb-3">
            <div class="d-none d-sm-block col-sm-3">
                {% include 'parts/previous.html.twig' %}
            </div>
            <div class="col-sm-6 text-center">
                {% include 'parts/statusButtons.html.twig' %}
            </div>
            <div class="d-none d-sm-block col-sm-3">
                {% include 'parts/next.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 pb-3">
                <div class="card">
                    <div class="card-header">
                        Transcode Information
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>VHS Tape Identifier:</th>
                                    <td>{{ conversion.id }}</td>
                                </tr>
                                <tr>
                                    <th>File Name:</th>
                                    <td>{{ conversion.initialFileName }}</td>
                                </tr>
                                <tr>
                                    <th>Start:</th>
                                    <td>
                                        {% if conversion.started %}
                                            {{ conversion.started|date('Y-m-d H:i:s') }}
                                        {% else %}
                                            <span class="badge badge-danger">Not Started</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Complete:</th>
                                    <td>
                                        {% if conversion.isComplete %}
                                            {{ conversion.completed|date('Y-m-d H:i:s') }}
                                        {% elseif conversion.isInProgress %}
                                            <span class="badge badge-warning">In Progress</span>
                                        {% elseif conversion.isNotStarted %}
                                            <span class="badge badge-danger">Not Started</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Additional notes:</th>
                                    <td>
                                        {% if conversion.notes is not null %}
                                            {{ conversion.notes }}
                                        {% else %}
                                            No notes yet
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Attached Image
                    </div>
                    <div class="card-body">
                        {% if conversion.image is not null %}
                            <img src="/uploadedImages/{{ conversion.image }}" class="img-thumbnail img-fluid">
                        {% else %}
                            <div class="m-3 text-center">No Image to display</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-3 pb-2">
            <div class="d-none d-sm-block col-sm-3">
                {% include 'parts/previous.html.twig' %}
            </div>
            <div class="col-sm-6 text-center">
                {% include 'parts/statusButtons.html.twig' %}
            </div>
            <div class="d-none d-sm-block col-sm-3">
                {% include 'parts/next.html.twig' %}
            </div>
        </div>
        <div class="d-flex d-sm-none row">
            <div class="col-6">
                {% include 'parts/previous.html.twig' %}
            </div>
            <div class="col-6">
                {% include 'parts/next.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    <script>
        $(function(){
            $('.restart').on('click', function(e){
                bootbox.confirm({
                    message: "Are you sure you want to re-encode this video?  clicking yes will remove the start and end transcoding times and restart the encoding immediately.",
                    centerVertical: true,
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-outline-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        }
                    },
                    callback: function (result) {
                        //window.localion.href = '';
                    }
                });
            })
        });
    </script>
{% endblock %}